#chatbox {

    height: 250px;

    overflow: auto;
}

.panel-primary > .panel-heading {
    color: #333;
    background-color: #5AD663;
    border-color: #5AD663;
}

textarea {
    resize: none;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 14px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.panel-primary {
    border-color: #333;
}

.navList {
    list-style-type: none;
    padding: 0;
    display: table;
    margin: 0 auto;
    text-align: center;
    background-color: white;

    min-width: 150px;

}

.navList li {
    margin-bottom: 10%;
}



.dzscalendar.skin-responsive-galileo .main-mon .mon-body .week-day {
    text-align: right;
    font-size: 1.5rem;
}

.btn-primary {
    color: #333;
    background-color: #FFFFFF;
    border-color: #5AD663;

}

button.btn-primary, a.btn-primary {
    color: #333;
    background-color: #FFFFFF;
    border-color: #5AD663;
    box-shadow: none;

}

.btn-primary .caret, .btn-success .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret {
    border-top-color: #333;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, button.btn-primary:hover, a.btn-primary:hover {
    color: #5AD663;
    background-color: #FFFFFF;

    box-shadow: none;
}

.dropdown-menu > li > a:hover {

    background-color: #5AD663;
}

button.btn-primary, a.btn-primary {

    border: 1px solid #5AD663 !important;
}

.ui-a-text {

    color: red;
}

.navList {
    position: absolute;
    z-index: 5;
    border: 1px solid #5AD663;
    padding-top: 1%;
}

.navList li a {

    text-decoration: none; /* no underline */
    display: block;
    /*padding: 3px 20px;*/
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;

}

.navList li a:hover, .navList li a:visited, .navList li a:active {
    color: #333;
    text-decoration: none; /* no underline */
    background-color: #5AD663;

}

#chatlist, ol {
    display: table;
    margin: 0 ;
    text-align: center;
    background-color: white;
    list-style-type: none;
    min-width: 150px;

}

#propertyHolder {
    width: 150px;
}

#box {

    width: 100%;
    z-index: 5;
}



.divLeft {
    float: left;
    width: 50%;

}

.divRight {
    float: right;

}

.selectStyle{

    border: 1px solid #333;
    border-radius: 4px;
    margin-bottom: 5px;
    padding-left: 10px;
    position: relative;
    float: left;
    width: 100%;
}

#selectInfo {
    float:left;
    display: inline-block;
    width:75%;
}


#selectButtons{
    margin-top: 50px;
    display: inline-block;
}

#selectButtons .btn-sm{

    padding: 15px 20px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 100px;
    margin-bottom: 10px;
}


.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.extend {
    margin-bottom: 10%;
    margin-left: 10%;
}

.divLeft {

    float: left;
    /*width: 50%;*/

}

.divRight {
    float: right;

}


.dzscalendar .main-mon .week-day.tag-blue {
    background-color: #46004A;
    color: #fff;
}

#date{
 display:none;
}

.dzscalendar .dzstooltip {min-width:250px; width: auto;font-size: 1em;  word-wrap: break-word; }

span{max-width: 250px;}


.dzscalendar.skin-responsive-galileo .headerRow{background-color: black;}


.dzscalendar.skin-responsive-galileo.under-240 .main-mon .week-day {font-size: 1em;}

.dzstooltip.skin-whiteheading .tooltip-heading { background-color:#5AD663;  }

.dzscalendar.skin-responsive-galileo .curr-date {background-color: #46004A; }

.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-right:hover { opacity:1;}
.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-left:hover { opacity:1;}


.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-right { opacity:1;}
.dzscalendar.skin-responsive-galileo .calendar-controls .arrow-left{ opacity:1;}

.dzstooltip.skin-whiteheading.arrow-left:before {border-right: 10px solid #5AD663;}




/*start modal styling*/
.modal-header {
    color: #FFF;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 2px 2px 0px;
}

*::-moz-selection {
    text-shadow: none;
    background: #5AD663 none repeat scroll 0% 0%;
}

.form-field input {
    border: 1px solid #333;
    outline: 0px none;
    padding: 14px 6px 10px;
    font-size: 14px;
    box-shadow: none;
    height: 100%;
}

.form-control {
    margin-bottom: 10px;
}

.form-field input:focus {
    border: 1px solid #5AD663;
    outline: 0px none;
    box-shadow: none;
}

select.form-control:focus {
    border: 1px solid #5AD663;
    outline: 0px none;
    box-shadow: none;
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
    font-family: "Diavlo Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2px 0px 0px 3px;
    line-height: 1.42857;
}



.close {
    color: #FFF;
    opacity: 0.4;
    box-shadow: none;
    font-size: 35px;
    border: medium none;
}

.submit {
    color: #FFF;
    margin: 30px 0px 0px;
    background-color: #5AD663;
    border: 2px solid transparent;
    padding: 12px 6px 8px;
    font-size: 16px;
    font-weight: 600;
    width: 20%;
    min-width: 100px;
}

body {
    overflow-x: hidden;
    background-color: #FFF;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.close:focus, .close:hover {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.eventsubmit{

    margin-top: 0;
}
/*end modal styling*/

#startDate, #endDate {
    display: none;
}

.scroll-overflow {
    height: 500px;
    overflow: auto;
}