/*
References: 
- http://www.flaticon.com/free-icon/little-down-triangular-arrow_7629
- https://fortawesome.github.io/Font-Awesome/
- http://getbootstrap.com
- http://startbootstrap.com/template-overviews/agency/
- Property logo: http://www.freepik.com/free-vector/property-logo-with-house-silhouettes_804211.htm#term=property&page=1&position=5
- Messaging iconhttp://www.flaticon.com/free-icon/chat-bubbles-with-ellipsis_61516
- Calendar: http://www.flaticon.com/free-icon/calendar-month_13530
- https://www.google.com/fonts
*/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200,700);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: "Diavlo Light";
    src: url(../fonts/Diavlo_LIGHT_II_37.otf) format("opentype");
}

@font-face {
    font-family: "Diavlo Medium";
    src: url(../fonts/Diavlo_MEDIUM_II_37.otf) format("opentype");
}

@font-face {
    font-family: "Diavlo Bold";
    src: url(../fonts/Diavlo_BOLD_II_37.otf) format("opentype");
}


/************************************************************/
/************************* Homepage *************************/
/************************************************************/


/*------ Global ALL screen ------*/
body {
    overflow-x: hidden;
    background-color: #333333;
    background-color: #ffffff;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.text-muted {
    color: #333333;
}

.text-primary {
    color: #5AD663;
}

p {
    font-size: 14px;
    line-height: 1.75;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #5AD663;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #5AD663;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.img-centered {
    margin: 0 auto;
}

/*------ Login & Sign Up forms ALL screen ------*/
.modal-header {
    color: #ffffff;
    background-color: #333333;
    border-top-left-radius: 4px;  
    border-top-right-radius: 4px; 
    margin: 2px 2px 0px 2px;
/*    border-bottom: 2px solid #5AD663;*/
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2px 0px 0px 3px;
}  

.modal-body {
    border-bottom-left-radius: 4px;  
    border-bottom-right-radius: 4px; 
}

.form-control {
    margin-bottom: 10px;
}

.close {
    color: #ffffff;
    opacity: 0.4;
    box-shadow: none;
    font-size: 35px;
    border: none;
}

.close:hover,
.close:active {
    color: #ffffff;
    opacity: 0.8;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.form-field {
    margin: 16px 0px 0px 0px;
}

.ff1 {
    margin: 6px 0px 0px 0px;
}

.form-field label {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.form-field input {
    border: 1px solid #333333;
    outline: 0;
    padding: 14px 6px 10px 6px;
    font-size: 14px;
    box-shadow: none;
    height: 100%;
}

.form-field input:hover {
    border: 1px solid #5AD663;
    outline: 0;
}

.form-field input:focus {
    border: 2px solid #5AD663;
    outline: 0;
    box-shadow: none;
}

.select-style {
    border: 1px solid #333333;
    outline: 0;
    border-radius: 4px;
    background: #ffffff url('../images/dropdown.svg') no-repeat 97% 55%;
    background-size: 12px 12px;
    padding: 3px 6px 0px 6px;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
}

.select-style:hover,
.select-style:active{
    border: 1px solid #5AD663;
    outline: 0;
}

.select-style:focus {
    box-shadow: none;
    border: 2px solid #5AD663;
}

.submit {
    color: #ffffff;
    margin: 30px 0px 0px 0px;
    background-color: #5AD663;
    border: 2px solid transparent;
    padding: 12px 6px 8px 6px;
    font-size: 16px;
    font-weight: 600;
}

.submit:hover,
.submit:active{
    color: #5AD663;
    border: 2px solid #5AD663;
    background-color: transparent; 
}

.error {
    color: #ef3719;
}

#signup_form label.error {
    color: #ef3719;
    font-size: 15px;
    font-weight: 400;
}

#signup_form input.error {
    border: 2px solid #ef3719;
}

/*-- Extra small devices (phones, less than 768px) --*/
/*-- No media query since this is the default in Bootstrap --*/

/*--- Global nav XS screen ---*/ 
.navbar-default {
    border-color: transparent;
    background-color: #333333;
}

.navbar-default .navbar-brand {
    width: 125px;
    margin: -7px 0px 0px 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #5AD663;
}

.navbar-default .navbar-collapse {
    border-color: #5AD663;
}

.navbar-default .navbar-toggle {
    border-color: #5AD663;
    background-color: #5AD663;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 300;
    padding: 16px 18px 11px 18px;
    letter-spacing: 1px;
    color: #ffffff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #5AD663;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #ffffff;
    background-color: #5AD663;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #5AD663;
}

/*--- Login button ALL screen ---*/ 
.login-btn {
    padding: 12px 80px;
    margin-bottom: 12px;
    border-radius: 4px;
    background-color: #5AD663;
    border: 2px solid #5AD663;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.login-btn:hover,
.login-btn:focus,
.login-btn:active {
    border-color: #5AD663;
    background-color: transparent;
    color: #ffffff;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    transition-duration: 0.25s;
}

/*--- Text below login button ALL screen ---*/
.text {
    margin-bottom: 100px;
    color: #ffffff;
    font-size: 16px;
}

.text p {
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    
.text .s-link {
    text-decoration: none;
    color: #5AD663;
}
    
.text .s-link:hover,
.text .s-link:focus,
.text .s-link:active {
    text-decoration: underline;
}

/*--- Scroll down button ALL screen ---*/
.btn-scroll-down {
    font-size: 30px;
    color: #ffffff;
    border: 1px solid #5AD663;
    border-radius: 100%;
    padding: 3px 15px 0px 15px;
    background-color: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-scroll-down:hover,
.btn-scroll-down:focus {
    border: 1px solid #5AD663;
    color: #ffffff;
    background-color: #5AD663;  
}

/*-- Small devices (tablets, 768px and up) --*/
@media(min-width:768px) {
    
    /*--- Global nav SM & MD screen ---*/ 
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-default .navbar-brand {
        width: 150px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        margin: -12.5px 0px 0px 0px;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 4px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #333333;
    }

    .navbar-default.navbar-shrink .navbar-brand img {
        
    }
}

/*--- Header XS screen ---*/ 
header {
    text-align: center;
    color: #ffffff;
    background-attachment: scroll;
    background-image: url(../images/header-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

header .intro {
    padding-top: 165px;
}

header .intro .intro-text-1 {
    margin-bottom: 30px;
    font-size: 60px;
    color: #5AD663;
    font-weight: 600;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .intro .intro-text-2 {
    margin-bottom: 65px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*-- Small devices (tablets, 768px and up) --*/
@media(min-width:768px) {

    /*--- Header SM screen ---*/ 
    header .intro {
        padding-top: 175px;
    }   

    header .intro .intro-text-1 {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 52px;
        color: #5AD663;
    }

    header .intro .intro-text-2 {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 300;
        color: #ffffff;
    }
}  

/*-- Medium devices (desktops, 992px and up) --*/
@media(min-width:992px) {

    /*--- Header MD screen ---*/ 
    header .intro {
        padding-top: 175px;
    }   

    header .intro .intro-text-1 {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 55px;
        color: #5AD663;
    }

    header .intro .intro-text-2 {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 300;
        color: #ffffff;
    }
}

/*--- Features section XS screen ---*/    
#features {
    background-color: #ffffff; 
    padding: 90px 0;
}

#features .feature-heading {
    margin: 20px 0px 15px 0px;
    color: #5AD663;
}

.feature {
    margin: 0px 0px 40px 0px;
}

/*--- About Information Ecosystems Section XS screen ---*/
#about-i-e {
    background-color: #f2f2f2; 
    padding: 150px 0;
}

#about-i-e img {
    margin: 10px 0px 60px 0px;
}

/*-- Small devices (tablets, 768px and up) --*/
@media(min-width:768px) {
    
    /*--- Features section SM screen ---*/   
    #features {
        background-color: #ffffff; 
        padding: 130px 0;
    }

    #features .feature-heading {
        margin: 20px 0px 15px 0px;
        color: #5AD663;
    }
    
    /*--- About Information Ecosystems Section SM screen ---*/
    #about-i-e {
        background-color: #f2f2f2; 
        padding: 180px 0;
    }
    
    #about-i-e img {
        margin: 0px 0px 60px 0px;
    }
    
}

/*-- Medium devices (desktops, 992px and up) --*/
@media(min-width:992px) {
    
    /*--- Features section MD screen ---*/   
    #features {
        background-color: #ffffff; 
        padding: 232px 0;
    }

    #features .feature-heading {
        margin: 20px 0px 15px 0px;
        color: #5AD663;
    }
    
    /*--- About Information Ecosystems Section MD screen ---*/
    #about-i-e {
        background-color: #f2f2f2; 
        padding: 242px 0;
    }
    
    #about-i-e img {
        margin: 0px 0px 0px 0px;
    }
    
}

/*-- Large devices (large desktops, 1200px and up) --*/
@media (min-width: 1200px) { }


/*--- Footer ALL screen ---*/
footer {
    padding: 25px 0px 10px 0px;
    font-size: 15px;
    font-weight: 200;
    background-color: #333333;
    color: #ffffff;
}

footer .diff-color {
   color: #5AD663;
}

::-moz-selection {
    text-shadow: none;
    background: #5AD663;
}

::selection {
    text-shadow: none;
    background: #5AD663;
}

img::selection {
    background: #5AD663;
}

img::-moz-selection {
    background: #5AD663;
}

body {
    webkit-tap-highlight-color: #5AD663;
}

/*************************************************************/
/************************* DASHBOARD *************************/
/*************************************************************/


.d-body {
    overflow: hidden;
    background-color: #ffffff;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


.navbar-dashboard-left {
    background-color: #555;
    height: 100vh;
    min-height: 100%;
/*    border-right: 2px solid #5AD663;*/
    padding: 0px 0px 100px 0px;
    margin: 0px;
    min-width: 100%;
}

#navbg {
    background-color: #333;
    padding: 0px;
}

#logo { 
    margin: 0px 0px 50px 0px;
    height: 45px;
    /*background-color: #333;*/
}

#logo img {
    width: 90px;
    margin: 7px 0px 0px 15px;
}

#uilogo {
    margin: 0px 0px 50px 0px;
    height: 45px;
    background-color: #333;
}

#uilogo img {
    width: 90px;
    margin: 7px 0px 0px 15px;
}

.navbar-dashboard-main {
    padding: 0px 0;
    height: 45px;
    padding: 0px;
    margin: 0px;
    background-color: #333;
}

.smtog {
    margin: 5px 0px 0px 12px;
}

.tog {
    color: #ffffff;
    font-size: 1.75em;
}

.tog:hover,
.tog:focus {
    color: #333333;
    font-size: 1.75em;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}

.nav-pills li a {
    margin-bottom: 10px;
    font-weight: 300;
    color: #ffffff;  
    border-left: 2px solid #5AD663;
    border-radius: 0px;
    background-color: #333333;
    font-size: 16px;
    box-shadow: inset 0 0 0 0 #5AD663;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;   
}

.nav-pills li a i {
    padding: 0px 1px 0px 0px;
}

.nav-pills li a .fa-desktop {
    font-size: 15px;
    margin: 4px 0px 0px 0px;
}

.nav-pills li a .fa-home {
    font-size: 18px;
    margin: -8px 0px 0px 0px;
}

.nav-pills li a .fa-calendar {  
    font-size: 15.5px;
    margin: 3px 0px 0px 0px;
}

.nav-pills li a .fa-comments-o { 
    font-size: 17px;
    margin: 2px 0px 0px 0px;
}

.nav-pills li a .fa-credit-card {
    font-size: 15px;
    margin: 3.5px 0px 0px 0px;
}

.nav-pills li a .fa-wrench { 
    font-size: 16px;
    margin: 3px 0px 0px 0px;
}

.wrap {
    white-space: pre-wrap;
    width: 50%;
    margin: 0px 0px 0px 0px;
}

.nav-pills li a:hover{
    background-color: #333333;
      color: #5AD663;
/*    box-shadow: inset 400px 0 0 0 #5AD663;*/
}  

.nav-pills li.active a, .nav-pills li.active a:hover {
/*    box-shadow: inset 400px 0 0 0 #5AD663;*/
    color: #333333;  
    background-color: #5AD663;
}
 
.nav-pills li.active a:focus {
/*    box-shadow: inset 400px 0 0 0 #5AD663;*/
    color: #333333;  
    background-color: #5AD663;
}

.user {
    height: inherit;
    width: inherit;
}

.btn-group {
    margin: 0px;
}

.user-btn {
    background-color: #ffffff;
    font-size: 16px;
    padding: 11px 10px 8px 10px;
    color: #333333;
    border-radius: 0px;
    margin: 0px 3px 0px 0px;
}

.user-btn:hover, .user-btn-diff:hover{
    background-color: #333333;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #ffffff;
    border-radius: 0px;
}

.user-btn:hover .user-name {
    color: #ffffff;  
}

.user-btn:focus, .user-btn:focus .user-name, .user-btn-diff:focus {
    background-color: #333333;
    outline: none;
    color: #5AD663;
    border-radius: 0px;
}

.user-btn-diff {
    background-color: #ffffff;
    font-size: 16px;
    padding: 11px 10px 8px 10px;
    color: #333333;
    border-radius: 0px;
    margin: 0px 2px 0px 0px;
}

.user-name {  
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 0px 6px 0px;
}

.inc {
    padding: 10px 10px 6px 10px;
    font-size: 18px;
}

.anown {
    color: #333333;
    font-size: 12px;
    font-weight: 300;
    border-radius: 10px;
    margin: 0px 0px 0px 8px;
    background-color: #5AD663;
    vertical-align:middle;
    margin-top: -0.5em;
}

.container-fluid {
    padding: 0px;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

/* bootstrap hack:fix content width inside hidden tabs

https://groups.google.com/forum/#!topic/twitter-bootstrap-stackoverflow/0Aqzs5s_hEY*/
.tab-content > .tab-pane:not(.active), 
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} /* bootstrap hack end */


.pill-content {
    background: #ffffff; 
    min-height: 100%;
    height: 100%;
}

.iiframe {
    width: 100%; 
    border: 0px;
    height: 100vh;
    overflow: hidden;
    padding: 0px 0px 0px 0px;    
}

.fill { 
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

/*home css*/


#dash-links {
    margin: 0px;
    width: 100%;
    height: 333px;
}
.wlcm-h1 {
    margin: 75px 0px 75px 0px;  
    font-weight: 500;
    color: #333333;
}

#dash-links .dash-link  {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0px;
    color: #333333;
    height: 333px;
    margin: 0px 20px 0px 0px;
    text-decoration: none;
}

.icons .fa-home {
    font-size: 40px;
    padding-top: -5px;
}

#dash-links .link-heading {
    font-size: 20px;
    font-weight: 400;
    margin: 40px 0px 30px 0px;
    text-decoration: none;
}

#dash-links .link-text {
    font-size: 16px;
    font-weight: 200;
    margin: 0px 0px 25px 0px;
    padding: 0px 50px 0px 50px;
    text-decoration: none;
}

.icons i {
    display: inline-block;
    font-size: 35px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100px;
    width: 100px;
    background-color: #333333;
    padding: 30px 0px 0px 0px;
}

#dash-links .dash-link:hover {
    background-color: #333333;
/*    color: red;*/
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#dash-links .dash-link:hover .icons i {
    padding: 50px 0px 0px 0px;
    color: #5AD663;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-size: 50px;
    background: none;
}

#dash-links .dash-link:hover .link-heading {
    color: #5AD663; 
    text-decoration: none;
}

#dash-links .dash-link:hover .link-text {
    color: #ffffff;
    text-decoration: none;
}


.user-color {
    color: #5AD663;
}


.dashb a:link {
    background-color: #f0f0f0;
    border-radius: 4px;
    height: 333px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: #333333;
}

.dashb a:hover {
    background-color: #333333;
    color: #5AD663;
}

.ricon {
    width: 100%;
    background-color: red;
    padding: 50px 0px 0px 0px;
    font-size: 35px;
    color: #333333;
    margin: 0px 0px 10px 0px;
    height: 130px;
}

.ls {
    width: 100%;
    background-color: red;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    height: 100px;
}

.gbody {
    overflow: auto;
    background-color: #ffffff;
}

/*end home css*/


@media(min-width: 768px) {
    /*--- Global nav SM & MD screen ---*/ 

 
}

    /*-- Medium devices (desktops, 992px and up) --*/
@media(min-width:920px) {

      .wrap {
        white-space: pre-wrap;
        max-width: 20px;
        margin: 0px 40px 0px 0px;
    }


    
}

    /*-- Medium devices (desktops, 992px and up) --*/
@media(min-width:1200px) {

 .wrap {
        white-space: nowrap;
        width: 100%;
     margin: 0px;
        
    }

 .container-fluid {
    padding: 0px;
} 
    

.nav-pills li a {
    margin-bottom: 10px;
    font-weight: 300;
    color: #ffffff;  
    border-left: 2px solid #5AD663;
    border-radius: 0px;
    background-color: #333333;
    font-size: 16px;
    box-shadow: inset 0 0 0 0 #5AD663;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;  
}


.nav-pills li a i {
    padding: 0px 5px 0px 0px;
}

.nav-pills li a .fa-desktop {
    
    font-size: 15px;
     margin: 4px 0px 0px 0px;
}

.nav-pills li a .fa-home {
    
    font-size: 18px;
     margin: 2.5px 0px 0px 0px;
}

.nav-pills li a .fa-calendar {
    
    font-size: 15.5px;
     margin: 3px 0px 0px 0px;
}

.nav-pills li a .fa-comments-o {
    
    font-size: 17px;
     margin: 2px 0px 0px 0px;
}

.nav-pills li a .fa-credit-card {
    
    font-size: 15px;
     margin: 3.5px 0px 0px 0px;
}

.nav-pills li a .fa-wrench {
    
    font-size: 16px;
     margin: 3px 0px 0px 0px;
}

    

    
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }


/*    #10A348; */
    
  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */

  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/*--- Footer ALL screen ---*/
#dfooter p {
    font-size: 10px;
    height: 20px;
    font-weight: 100;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    padding: 3px 0px 0px 15px;
}

#dfooter p .diff-color {
    color: #5AD663;
}

#dfooter p .diff-font {
    font-family: "Diavlo Light"; 
}

