/*
References: 
- http://www.flaticon.com/free-icon/little-down-triangular-arrow_7629
- https://fortawesome.github.io/Font-Awesome/
- http://getbootstrap.com
- http://startbootstrap.com/template-overviews/agency/
- Property logo: http://www.freepik.com/free-vector/property-logo-with-house-silhouettes_804211.htm#term=property&page=1&position=5
- Messaging iconhttp://www.flaticon.com/free-icon/chat-bubbles-with-ellipsis_61516
- Calendar: http://www.flaticon.com/free-icon/calendar-month_13530
- https://www.google.com/fonts
- http://ilikepixels.co.uk/drop/bubbler/
*/

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200,700);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: "Diavlo Light";
    src: url(../fonts/Diavlo_LIGHT_II_37.otf) format("opentype");
}

@font-face {
    font-family: "Diavlo Medium";
    src: url(../fonts/Diavlo_MEDIUM_II_37.otf) format("opentype");
}

@font-face {
    font-family: "Diavlo Bold";
    src: url(../fonts/Diavlo_BOLD_II_37.otf) format("opentype");
}


/************************************************************/
/*********************** LANDING_PAGE ***********************/
/************************************************************/


/*--- Global ALL screen ---*/
body {
    overflow-x: hidden;
    background-color: #333333;
    background-color: #ffffff;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
/*
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
*/
}

/*
#page-top {
    
    overflow: auto;
}
*/

title {
    display: block;
}

.text-muted {
    color: #333333;
}

.text-primary {
    color: #5AD663;
}

p {
    font-size: 14px;
    line-height: 1.75;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #5AD663;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #5AD663;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.img-centered {
    margin: 0 auto;
}

.btn:focus, .btn:active:focus, .btn.active:focus { 
    outline: none ! important;
    outline-style: none; 
}

/*------ Login & Sign Up forms ALL screen ------*/
.modal-header {
    color: #ffffff;
    background-color: #333333;
    border-top-left-radius: 4px;  
    border-top-right-radius: 4px; 
    margin: 2px 2px 0px 2px;
/*    border-bottom: 2px solid #5AD663;*/
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 2px 0px 0px 3px;
}  

.modal-body {
    border-bottom-left-radius: 4px;  
    border-bottom-right-radius: 4px; 
}

.form-control {
    margin-bottom: 10px;
}

.formSelect{
    border: 1px solid black;
    height: 50px;
}

.close {
    color: #ffffff;
    opacity: 0.4;
    box-shadow: none;
    font-size: 35px;
    border: none;
}

.close:hover,
.close:active {
    color: #ffffff;
    opacity: 0.8;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.form-field {
    margin: 16px 0px 0px 0px;
}

.ff1 {
    margin: 6px 0px 0px 0px;
}

.form-field label {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
}

.form-field input {
    border: 1px solid #333333;
    outline: 0;
    padding: 14px 6px 10px 6px;
    font-size: 14px;
    box-shadow: none;
    height: 100%;
}

.form-field input:hover {
    border: 1px solid #5AD663;
    outline: 0;
}

.form-field input:focus {
    border: 2px solid #5AD663;
    outline: 0;
    box-shadow: none;
}

.select-style {
    border: 1px solid #333333;
    outline: 0;
    border-radius: 4px;
    background: #ffffff url('../images/dropdown.svg') no-repeat 97% 55%;
    background-size: 12px 12px;
    padding: 3px 6px 0px 6px;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
}

.select-style:hover,
.select-style:active{
    border: 1px solid #5AD663;
    outline: 0;
}

.select-style:focus {
    box-shadow: none;
    border: 2px solid #5AD663;
}

.submit {
    color: #ffffff;
    margin: 30px 0px 0px 0px;
    background-color: #5AD663;
    border: 2px solid transparent;
    padding: 12px 6px 8px 6px;
    font-size: 16px;
    font-weight: 600;
}

.submit:hover,
.submit:active{
    color: #5AD663;
    border: 2px solid #5AD663;
    background-color: transparent; 
}

.error {
    color: #ef3719;
}

#signup_form label.error {
    color: #ef3719;
    font-size: 15px;
    font-weight: 400;
}

#signup_form input.error {
    border: 2px solid #ef3719;
}

/*-- Extra small devices (phones, less than 768px) --*/
/*-- No media query since this is the default in Bootstrap --*/

/*--- Global nav XS screen ---*/ 
.navbar-default {
    border-color: transparent;
    background-color: #333333;
}

.navbar-default .navbar-brand {
    width: 125px;
    margin: -7px 0px 0px 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #5AD663;
}

.navbar-default .navbar-collapse {
    border-color: #5AD663;
}

.navbar-default .navbar-toggle {
    border-color: #5AD663;
    background-color: #5AD663;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 400;
    padding: 16px 18px 11px 18px;
    letter-spacing: 1px;
    color: #ffffff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #5AD663;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #ffffff;
    background-color: #5AD663;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #5AD663;
}

/*--- Login button ALL screen ---*/ 
.login-btn {
    padding: 12px 80px;
    margin-bottom: 12px;
    border-radius: 4px;
    background-color: #5AD663;
    border: 2px solid #5AD663;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.login-btn:hover,
.login-btn:focus,
.login-btn:active {
    border-color: #5AD663;
    background-color: transparent;
    color: #ffffff;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    transition-duration: 0.25s;
}

/*--- Text below login button ALL screen ---*/
.p-text {
    margin-bottom: 100px;
    color: #ffffff;
    font-size: 16px;
}

.p-text p {
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
    
.p-text .s-link {
    text-decoration: none;
    color: #5AD663;
}
    
.p-text .s-link:hover,
.p-text .s-link:focus,
.p-text .s-link:active {
    text-decoration: underline;
}

/*-- Scroll down button ALL screen --*/
.btn-scroll-down {
    font-size: 30px;
    color: #ffffff;
    border: 1px solid #5AD663;
    border-radius: 100%;
    padding: 3px 15px 0px 15px;
    background-color: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-scroll-down:hover,
.btn-scroll-down:focus {
    border: 1px solid #5AD663;
    color: #ffffff;
    background-color: #5AD663;  
}

/*-- Small devices (tablets, 768px and up) --*/
@media(min-width:768px) {
    
    /*--- Global nav SM & MD screen ---*/ 
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-default .navbar-brand {
        width: 150px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        margin: -12.5px 0px 0px 0px;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 4px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #333333;
    }

    .navbar-default.navbar-shrink .navbar-brand img {
        
    }
}

/*--- Header XS screen ---*/ 
header {
    text-align: center;
    color: #ffffff;
    background-attachment: scroll;
    background-image: url(../images/header-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

header .intro {
    padding-top: 165px;
}

header .intro .intro-text-1 {
    margin-bottom: 30px;
    font-size: 60px;
    color: #5AD663;
    font-weight: 600;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .intro .intro-text-2 {
    margin-bottom: 65px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*-- Small devices (tablets, 768px and up) --*/
@media(min-width:768px) {

    /*--- Header SM screen ---*/ 
    header .intro {
        padding-top: 175px;
    }   

    header .intro .intro-text-1 {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 52px;
        color: #5AD663;
    }

    header .intro .intro-text-2 {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 300;
        color: #ffffff;
    }
}  

/*-- Medium devices (desktops, 992px and up) --*/
@media(min-width:992px) {

    /*--- Header MD screen ---*/ 
    header .intro {
        padding-top: 175px;
    }   

    header .intro .intro-text-1 {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 55px;
        color: #5AD663;
    }

    header .intro .intro-text-2 {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 300;
        color: #ffffff;
    }
}

/*--- Features section XS screen ---*/    
#features {
    background-color: #ffffff; 
    padding: 90px 0;
}

#features .feature-heading {
    margin: 20px 0px 15px 0px;
    color: #5AD663;
}

.feature {
    margin: 0px 0px 40px 0px;
}

/*--- About Information Ecosystems Section XS screen ---*/
#about-i-e {
    background-color: #f2f2f2; 
    padding: 150px 0;
}

#about-i-e img {
    margin: 10px 0px 60px 0px;
}

/*-- Small devices (tablets, 768px and up) --*/
@media(min-width:768px) {
    
    /*--- Features section SM screen ---*/   
    #features {
        background-color: #ffffff; 
        padding: 130px 0;
    }

    #features .feature-heading {
        margin: 20px 0px 15px 0px;
        color: #5AD663;
    }
    
    /*--- About Information Ecosystems Section SM screen ---*/
    #about-i-e {
        background-color: #f2f2f2; 
        padding: 180px 0;
    }
    
    #about-i-e img {
        margin: 0px 0px 60px 0px;
    }
    
}

/*-- Medium devices (desktops, 992px and up) --*/
@media(min-width:992px) {
    
    /*--- Features section MD screen ---*/   
    #features {
        background-color: #ffffff; 
        padding: 232px 0;
    }

    #features .feature-heading {
        margin: 20px 0px 15px 0px;
        color: #5AD663;
    }
    
    /*--- About Information Ecosystems Section MD screen ---*/
    #about-i-e {
        background-color: #f2f2f2; 
        padding: 242px 0;
    }
    
    #about-i-e img {
        margin: 0px 0px 0px 0px;
    }
    
}

/*-- Large devices (large desktops, 1200px and up) --*/
@media (min-width: 1200px) {  }


/*--- Footer ALL screen ---*/
footer {
    padding: 25px 0px 10px 0px;
    font-size: 15px;
    font-weight: 200;
    background-color: #333333;
    color: #ffffff;
}

footer .diff-color {
   color: #5AD663;
}

::-moz-selection {
    text-shadow: none;
    background: #5AD663;
}

::selection {
    text-shadow: none;
    background: #5AD663;
}

img::selection {
    background: #5AD663;
}

img::-moz-selection {
    background: #5AD663;
}

body {
    webkit-tap-highlight-color: #5AD663;
}

/*************************************************************/
/************************* DASHBOARD *************************/  
/*************************************************************/

.ui_body {
 
  overflow: hidden;
   
/*    background: blue;*/
    font-family: "Titillium Web", Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
/*
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
*/
/*
    padding: 0xpx;
    margin: 0px 0px -55px 0px;
*/

}

.content_body {
/*    background-color: green;*/
/*    overflow: hidden;*/
/*    padding-bottom: 55px;*/
    height: 100vh;
        overflow: auto; 
    margin-bottom: -55px;
    width: 100%;
/*
    padding-left: 33px;
    padding-right: 33px;
*/
    padding-bottom: 55px;
    
/*    margin: 0px 0px -px 0px;*/
/*position: relative;*/

}
.top-section {
        padding-left: 33px;
    padding-right: 33px;
/*    background: yellow;*/
}

.bottom-section {
    padding: 0px 33px 20px 33px;
/*    padding-top: 20px;*/
/*    background-color: tan;*/
/*height: 100%;*/
    overflow: auto; 
    
}




/*---  Top navbar ---*/
.navbar-dashboard-main {
    padding: 0px 0;
    height: 55px;
    padding: 0px;
    margin: 0px;
    background-color: #333333;
}

#ui_logo { 
    margin: 0px 0px 50px 0px;
    height: 55px;
    background-color: #333333;
/*    border-bottom: 1px solid #444444;*/
}

#ui_logo img {
    width: 110px;
    margin: 7px 0px 0px 15px;
}

.smtog {
    margin: 11px 0px 0px 12px;
}

.tog {
    color: #ffffff;
    font-size: 1.75em;
}

/*
.highlight {
        color: #5AD663;
}
*/

.tog:hover,
.tog:focus {
    color: #5AD663;
    font-size: 1.75em;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}
/*

body.modal-open {
    overflow: visible;
}
*/

.btn-group {
    margin: 0px;
    padding: 0px;
}

.user {
    height: inherit;
    width: inherit;
    background-color: #333333;
}

.user-btn, .user-btn-t {
    background-color: #333333;
    font-size: 16px;
    height: 55px;
    padding: 17px 15px 0px 15px;
    color: #ffffff;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.user-btn:hover, .user-btn-t:hover, .user-btn-diff:hover{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #5AD663;
}

/*
.user-btn-t:hover .user-name {
    color: #5AD663;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
*/

.user-btn:focus, .user-btn-focus a:focus, .user-btn-diff:focus {
    background-color: #333333;
    outline: none;
    color: #5AD663;
    border-radius: 0px;
}


.user-btn-diff {
    background-color: #333333;
    font-size: 16px;
    height: 55px;
    color: #ffffff;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.user-name {  
    color: #5AD663;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0px 0px 20px;
}

.inc {
    padding: 10px 15px 6px 15px;
    font-size: 18px;
}


.anown {
    color: #333333;
    font-size: 12px;
    font-weight: 300;
    border-radius: 10px;
    margin: 0px 0px 0px 8px;
    background-color: #5AD663;
    vertical-align: middle;
    margin-top: -0.5em;
}

.btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: linear-gradient(to top, #f8f8f8, #dedede);
    border-radius: 40px;
    margin: 10px 0px 10px 0px;
    height: 36px;
    width: 1px;
}

/*---  Left navbar ---*/
.navbar-dashboard-left {
    background: linear-gradient(to top, #f8f8f8, #dedede);
/*    border-right: 1px dashed #333333;*/
/*    background-color: #ebebeb;*/
    height: 100vh;
    min-height: 100%;
    padding: 0px 0px 100px 0px;
    margin: 0px;
    min-width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-pills li a {
    margin-bottom: 10px;
    font-weight: 400;
    color: #333333;  
    border-left: 3px solid transparent;
    border-radius: 0px;
/*    background-color: transparent;*/
    font-size: 16px;
    box-shadow: inset 0 0 0 0 #5AD663;
    -webkit-transition: all ease-in-out 0.33s;
    -moz-transition: all ease-in-out 0.33s;
    transition: all ease-in-out 0.33s;   
}

.nav-pills li a i {
    padding: 0px 1px 0px 0px;
}

.nav-pills li a .fa-desktop {
    font-size: 15px;
    margin: 4px 0px 0px 0px;
}

.nav-pills li a .fa-home {
    font-size: 18px;
    margin: 4px 0px 0px 0px;
}

.nav-pills li a .fa-calendar {  
    font-size: 15.5px;
    margin: 3px 0px 0px 0px;
}

.nav-pills li a .fa-comments-o { 
    font-size: 17px;
    margin: 2px 0px 0px 0px;
}

.nav-pills li a .fa-credit-card {
    font-size: 15px;
    margin: 3.5px 0px 0px 0px;
}

.nav-pills li a .fa-wrench { 
    font-size: 16px;
    margin: 3px 0px 0px 0px;
}

.wrap {
    white-space: pre-wrap;
    width: 50%;
    margin: 0px 0px 0px 0px;
}

.nav-pills li a:hover{
    background-color: transparent;
      color: #5AD663;
      border-left: 3px solid #5AD663;
/*    box-shadow: inset 400px 0 0 0 #5AD663;*/
}  

.nav-pills li.active a, .nav-pills li.active a:hover {
/*    box-shadow: inset 400px 0 0 0 #5AD663;*/
    color: #ffffff;  
    background-color: #333333;
     border-left: 3px solid #5AD663;
}
 
.nav-pills li.active a:focus {
/*    box-shadow: inset 400px 0 0 0 #5AD663;*/
    color: #ffffff;  
    background-color: #333333;
}


#tab-nav {
     -webkit-transition: all ease-in-out 0.33s;
    -moz-transition: all ease-in-out 0.33s;
    transition: all ease-in-out 0.33s;      
}
.container-fluid {
    padding: 0px;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

/* bootstrap hack:fix content width inside hidden tabs

https://groups.google.com/forum/#!topic/twitter-bootstrap-stackoverflow/0Aqzs5s_hEY*/
.tab-content > .tab-pane:not(.active), 
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} /* bootstrap hack end */


.pill-content {
    background-color: #ffffff; 
    min-height: 100%;
    height: 100%;
}

.frame {
    width: 100%; 
    border: 0px;
    height: 100vh;
    overflow: hidden;
    padding: 0px 0px 0px 0px;    
}

.property-display {
    background: #333333;
/*    linear-gradient(to top, #333333, #dedede);*/
/*    background: radial-gradient(#ededed, #dedede);*/
/*        background-color: #ebebeb;*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 43px;
/*
    border: 1px solid #333333;
    border-top: none;
*/

/*    display: flex;*/
    width: auto;
/*
        position: fixed;
    z-index: 1000;
    top: 55;
    margin: 0px 0px 0px 0px;
*/

}

.property-display .property-label {
    background-color:  #5AD663;
    color: #ffffff;
    height: 33px;
    width: 80px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0px 0px 5px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 4px 0px 0px 0px;
    
}

.property-display .property-address {
        float: left;
/*    background-color: red;*/
        margin: 5px 5px 0px 0px;
       height: 100%;
/*    width: 344px;*/
        padding: 0px 0px 0px 0px;
}

.property-display .property-label p {
    margin: 0px 0px 0px 10px;
/*    padding: 10px;*/
    
}

/*
#dashboard {
    background: green;
   margin: 0px 0px 0px 0px;
  height: 100vh;
  
}
*/



/*dashboard-select css*/

.wlcm-h1 {
    margin: 75px 0px 50px 0px;  
    font-weight: 500;
    color: #333333;
/*    background: blue;*/
}

#select_property {
    background: radial-gradient(#f8f8f8,#dedede);
    border-radius: 4px;
   height: 250px;
}

.select-property-dropdown {
/*    background: red;*/
    height: 40px;
    width: 400px;
    margin: 0 auto;

}
/*
.select-property-dropdown h3 {
    margin: 0px 0px 0px 0px;  
    font-weight: 300;
    padding: 0px 0px 0px 0px;
    text-transform: none;
    font-size: 18px;
    color: #333333;
        background: blue;
}
*/

#select_btn {
/*    background: red;*/
    margin: 20px 0px 0px 0px;
    padding: 100px 0px 100px 0px;
}

.btn-custom-select {
    background-color: #333333;
    width: 300px;
    height: 50px;
    margin: 0px 0px 0px 0px;
    
}

.btn-custom-select:hover,
.btn-custom-select:focus {
     background-color: #5AD663;
    
}

.tooltip.bottom .tooltip-inner {
    background-color: #5AD663;
    color: #ffffff;
    
  }
.tooltip.bottom .tooltip-arrow {
          border-bottom-color: #5AD663;
       }  

/*
#div-fixed-top {
  position: fixed;
    top: 0;

}
*/

::-webkit-input-placeholder {
   color: #a0a0a0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #a0a0a0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a0a0a0;  
}

:-ms-input-placeholder {  
   color: #a0a0a0;  
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 12px 16px;
    color: #a0a0a0;

    pointer-events: none;
}
#box  {
    margin: 5px 5px 1px 10px;
    padding: 0px 0px 0px 4px;
    height: 30px;
    width: 278.5px;
    border: 1px solid #333333;
    border-radius: 4px;
    outline: none;
         font-size: 14px;
 
}

#box:hover {
    
       border: 1px solid #5AD663;
    
}

#box:focus {

       border: 2px solid #5AD663;
    
}

#box:focus a  {
         background-color: #5AD663;
    
}



.select-p-text {
    color: #ffffff;
    font-size: 18px;
}

/*
.select-p-text .caret {
    
       font-size:  58px;
}
*/

.selectList {
/*
    list-style-type: none;
   padding: 0px 0px 0px 0px;
 background: red;
overflow-y: auto;
    max-height: 205px;
    margin: 0px 0px 5px 0px;
*/
}

/*
.selectList li {
     font-size: 14px;
background: blue;
    margin: 0px 0px 5px 0px;
    padding: 6px 0px 0px 20px;
    height: 30px;
    width: inherit;
    border-left: 2px solid #5AD663;
      color: #333333;
}


.selectList li:hover a {
  color: #333333;
    text-decoration: none;
}

.selectList li:hover  {
     background-color: #5AD663;
}
*/


.dropdown-menu {
    overflow: hidden;
    max-height: 300px;
    width: 300px;   
}
/*

.div-nomargin {
    
   margin: -10px 0px 0px 0px;
    padding: 0px;
}
*/

#dash-links .dash-link  {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 0px;
    color: #333333;
    height: 333px;
    margin: 0px 20px 0px 0px;
    text-decoration: none;
}

.icons .fa-home {
    font-size: 40px;
    padding-top: -5px;
}

#dash-links .link-heading {
    font-size: 20px;
    font-weight: 400;
    margin: 40px 0px 30px 0px;
    text-decoration: none;
}

#dash-links .link-text {
    font-size: 16px;
    font-weight: 200;
    margin: 0px 0px 25px 0px;
    padding: 0px 50px 0px 50px;
    text-decoration: none;
}

.icons i {
    display: inline-block;
    font-size: 35px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100px;
    width: 100px;
    background-color: #333333;
    padding: 30px 0px 0px 0px;
}

#dash-links .dash-link:hover {
    background-color: #333333;
/*    color: red;*/
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#dash-links .dash-link:hover .icons i {
    padding: 50px 0px 0px 0px;
    color: #5AD663;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-size: 50px;
    background: none;
}

#dash-links .dash-link:hover .link-heading {
    color: #5AD663; 
    text-decoration: none;
}

#dash-links .dash-link:hover .link-text {
    color: #ffffff;
    text-decoration: none;
}


.user-color {
    color: #5AD663;
}


.dashb a:link {
    background-color: #f0f0f0;
    border-radius: 4px;
    height: 333px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: #333333;
}

.dashb a:hover {
    background-color: #333333;
    color: #5AD663;
}

.ricon {
    width: 100%;
    background-color: red;
    padding: 50px 0px 0px 0px;
    font-size: 35px;
    color: #333333;
    margin: 0px 0px 10px 0px;
    height: 130px;
}

.ls {
    width: 100%;
    background-color: red;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    height: 100px;
}

.gbody {
    overflow: auto;
    background-color: #ffffff; 
}

/*end home css*/


@media(min-width: 768px) {
    /*--- Global nav SM & MD screen ---*/ 

 
}

    /*-- Medium devices (desktops, 992px and up) --*/
@media(min-width:920px) {

      .wrap {
        white-space: pre-wrap;
        max-width: 20px;
        margin: 0px 40px 0px 0px;
    }


    
}



    /*-- Medium devices (desktops, 992px and up) --*/
@media(min-width:1200px) {

 .wrap {
    white-space: nowrap;
    width: 100%;
    margin: 0px;
        
    }

 .container-fluid {
    padding: 0px;
} 
    

/*
.nav-pills li a {
    margin-bottom: 10px;
    font-weight: 350;
    color: #333333;  
    border-left: 2px solid #5AD663;
    border-radius: 0px;
    background-color: #333333;
    font-size: 16px;
    box-shadow: inset 0 0 0 0 #5AD663;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;  
}
*/


.nav-pills li a i {
    padding: 0px 5px 0px 0px;
}

.nav-pills li a .fa-desktop {
    
    font-size: 15px;
     margin: 4px 0px 0px 0px;
}

.nav-pills li a .fa-home {
    
    font-size: 18px;
     margin: 2.5px 0px 0px 0px;
}

.nav-pills li a .fa-calendar {
    
    font-size: 15.5px;
     margin: 3px 0px 0px 0px;
}

.nav-pills li a .fa-comments-o {
    
    font-size: 17px;
     margin: 2px 0px 0px 0px;
}

.nav-pills li a .fa-credit-card {
    
    font-size: 15px;
     margin: 3.5px 0px 0px 0px;
}

.nav-pills li a .fa-wrench {
    
    font-size: 16px;
     margin: 3px 0px 0px 0px;
}

    

    
}



.content {
  background: red;  
    
}
.con {
  background: blue;  
padding: 25px 0px 0px 0px;
}

.property-items {
    
     background: green;  
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }


/*    #10A348; */
    
  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */

  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.negateNav{
    padding-bottom: 50px;
}

/*--- Chat page ---*/
#chat_system {
    height: auto;
/*    background: blue;*/
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

#chat_system .tooltip.bottom .tooltip-inner {
    background-color: #dedede;
    color: #333333;
    
  }
#chat_system .tooltip.bottom .tooltip-arrow {
          border-bottom-color: #dedede;
       }  

.panel-primary {
    border: none;
    box-shadow: none;
      height: auto;
/*    background: red;*/
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
/*    border: 2px solid #5AD663;*/
/*        border: 2px solid #5AD663;*/
}

.panel-primary .panel-heading {
    color: #333333;
    height: 50px;
    font-weight: 600;
    background-color: #dedede;
/*    border: 2px solid #dedede;*/
    
    border-bottom: 2px solid #dedede;
    border-radius-top-left: 4px;
    border-radius-top-right: 4px;
}

.panel-primary .panel-heading p {
    margin: 4px 0px 0px 4px;
}

.panel-footer {
    display:inline-block;
    height: auto;
    width: 100%;
    margin: 0px;

    background-color: #dedede;
}

#chatbox {
    height: 363px;
    overflow-y: auto;
    background: radial-gradient(#dedede,#f8f8f8);
    border: 2px solid #dedede;
/*
       border-width: 2px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#dedede)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#333333, #dedede) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#333333, #dedede) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#333333, #dedede) 1 100%;
    border-image:
      linear-gradient(to bottom, #333333, #dedede) 1 100%;
*/
/*
    border-left: 2px solid #dedede;
    border-right: 2px solid #dedede;
*/
}

ul
{
    list-style-type: none;
}

li{
	margin-bottom: 10%;
}

.btn-msg-inpt {
    background-color: #ffffff;   
    padding: 6px 9px 6px 9px;
    max-height: 75px;
    height: 25px;
    border-radius: 4px;
    width: 100%;
    resize: none;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color:  #ffffff;
}

.form-control:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-msg-inpt:focus {
    border: 1px solid #5AD663;
}

.btn-msg-snd {
    background-color: #5AD663;
    height: inherit;
    border-color:  #5AD663;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-msg-snd:hover {
     background-color: #333333;
     border-color: #333333;
}

.current-user {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}

.other-user {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}

.bubble-arw-left {
    float: left;
    position: relative;
    width: auto;
    min-width: 30px;
    max-width: 100%;
    height: auto;
    margin: 3px 0px 20px 0px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bubble-arw-left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 10px 1px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -10px;
    top: 6px;
}

.current-user .user-img {
    background: #333333;
    color: #ffffff;
    padding: 4px;
    height: 44px;
    margin: 0px 0px 0px 20px;
    width: 44px;
    float: right;
    font-size: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
}

.current-user .msg-txt {
    margin: 3px 6px -7px 6px;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
    white-space: normal;
    word-wrap: break-word;
    padding: 0px;
}

.current-user .msg-txt p {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

.msg-time {
    margin: -9px 14px 0px 0px;
    height: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
        background: red;
}

.time {
    color: #c9c9c9;
    font-weight: 100;
    font-size: 9px;   
}

.current-user .time {
    color: #f9f9f9;
    font-weight: 100;
    font-size: 9px;  
}

.fa-clock-o {
    font-size: 9px; 
    margin: 0px 3px 0px 0px;   
}

.bubble-arw-right{
    float: right;
    position: relative;
    width: auto;
    min-width: 30px;
    max-width: 100%;
    height: auto;
/*    min-height: 44px;*/
    margin: 3px 0px 20px 0px;
    padding: 0px;
    background: #5AD663;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bubble-arw-right:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 0 1px 10px;
    border-color: transparent #5AD663;
    display: block;
    width: 0;
    z-index: 1;
    right: -10px;
    top: 6px;
    }

.other-user .user-img {
    background: #333333;
    color: #ffffff;
    padding: 4px;
    height: 44px;
    margin: 0px 20px 0px 0px;
    width: 44px;
    float: left;
    font-size: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.other-user .msg-txt {
    margin: 3px 6px -7px 6px;
    color: #333333;
    padding: 0px 0px 0px 0px;
    white-space: normal;
    word-wrap: break-word;
}

.other-user .msg-txt p {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

#chatlist, ol {
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

/*--- Manage Properties details ---*/
.manage_properties_pills {
    
/*    background-color: red;*/
    height: auto;
        margin: 20px 0px 20px 0px;
    
}


.manage_properties_pills .properties_pills li a {
    margin: 0px 20px 0px 0px;
    font-weight: 500;
    color: #333333;  

    border-bottom: 2px solid #5AD663; 
    border-left: 0px;
    border-radius: 4px;
    font-size: 16px;
        background-color: #dedede;
    
/*    box-shadow: inset 0 0 0 0 #5AD663;*/
    -webkit-transition: all ease-in-out 0.33s;
    -moz-transition: all ease-in-out 0.33s;
    transition: all ease-in-out 0.33s;   
}

.manage_properties_pills .properties_pills li:last-child a {
    margin: 0px 0px 0px 0px;

}

.manage_properties_pills .properties_pills li a:hover{
    background-color: #5AD663;
      border-left: 0px;
 color: #ffffff;

}

.manage_properties_pills .properties_pills li.active a{
    background-color: #5AD663; 
      border-left: 0px;
     color: #ffffff;  

}

.manage_properties_view {
    
      background: #f8f8f8;
/*    radial-gradient(#dedede,#f8f8f8);*/
    border-radius: 4px;
    margin: 0px 0px 0px 0px;
/*
    min-height: 1000px;
    height: inherit;
*/
/*    overflow: auto;*/
    
/*    height: auto;*/
}


/*


.payments {
    
    background: red;
    margin-left: 30px;
        padding: 20px 0px 40px 0px;
}
*/

.add_payments {
    
/*   background: red; */
   margin: 0px;
    padding: 20px;
    
}
.add_payment_inpt {
    
/*    background: green;*/
    margin: 0px 0px 20px 0px;
    height: auto;
}

.add_payment_inpt1 {
    
/*    background: blue;*/
    margin: 0px 20px 0px 0px;
}

.add_payment_inpt2 {
        margin: 0px 0px 0px 0px;
/*    background: purple;*/
}

.add_payment_inpt1 label, .add_payment_inpt2 label, .add_payment_cal1 label, .add_payment_cal2 label {
    
    font-weight: 600;
    font-size: 14px;
    padding: 0px;
    margin: 0px 0px 6px 0px;
    color: #333333;
}

.add_payment_inpt1 input, .add_payment_inpt2 input {
        font-weight: 400;
    font-size: 14px;
    height: 40px;
/*    padding: 0px 0px 0px 0px;*/
    padding-left: 8px;
    margin: 0px;
    border: 1px solid #dedede;
        outline: 0;
}

.add_payment_inpt1 input:hover, .add_payment_inpt2 input:hover, .add_payment_inpt1 input:focus, .add_payment_inpt2 input:focus {
    border: 1px solid #5AD663;
        outline: 0;
    box-shadow: none;
}

.add_payment_cal {
    
/*    background: blue;*/
    margin: 0px 0px 40px 0px;
    padding: 0px;
    height: auto;
}

.add_payment_cal1 {
    
/*        background: yellow;*/
    margin: 0px 20px 0px 0px;
}

.add_payment_cal2 {
    
/*        background: orange;*/
    margin: 0px 0px 0px 0px;
}

.add_payment_btn {
        margin: 0px;
    padding: 0px;
    height: auto;
/*    background: green;*/
}

.add_payment_btn .col-md-12 {
    
       padding: 0px;
    
}

.btn-add-payment {
    color: #f8f8f8;
    background-color: #5AD663;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    width: 20%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: 2px solid transparent;
        -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    
}

.btn-add-payment:hover{
    border: 2px solid #5AD663;
    background-color: transparent;
    color:  #5AD663;
} 


/*
.zeropad{
    padding:0;
}
*/

.ptimestamp {
    padding: 10px;
    
    background: #f8f8f8;
    color: #333333;
}

.pbtns {
/*    background: green;*/
/*    height: 100px;*/
    width: 300px;
  
    margin: 0px 0px 20px 0px;
    clear: both;


}

.pall {
border-radius: 4px;
    background: #dedede;
}

.pbtns .btn {
    border-color: red;
    border: 4px;
/*    background: #dedede;*/
}

.pimg {
/*        background: red;*/

        max-width: 100px;
}
.pimg img{
    
/*      background: green;*/


/*
    
    height: 30px;
    width: 20px;
*/

}


.page_heading {
/*    background: red;*/
    height: 100px;
            margin: 20px 0px -64px 0px;
    padding: 0px;

}


.page_heading p {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
/*    border-bottom: 1px solid yellow;*/
    padding-bottom: 5px;


}

.page_heading hr {
    background: linear-gradient(to left, #f8f8f8, #dedede);
        border:none;
    border-radius: 100px;
        height:1px;
    margin: -15px 0px 0px 0px;
    padding: 0px;
}

/*--- Calendar_btn ---*/
#calendar_btn {
    
/*background: green;*/
    height: 50px;
    padding: 20px 20px 0px 0px;
    
}

.calbtn {
    
    margin-right: 40px;
}

#calender {
/*    background: green;*/
    height: 750px;
    margin: 0px;
    
}


/*--- Payments Page ---*/

.paypal {
    
/*    background: red;*/
    margin: -14px 0px 10px 0px;
    height: 20px;
    width: 120px;    
}

.last_payment {
    
/*    background: green;*/
    font-size: 16px;

    padding: 15px 0px 5px 25px;
}

.last_payment b {
    color: #5AD663;
    font-weight: 600; 
}

.last_payment i {
    color: #5AD663;
    font-style: normal;
    font-weight: 400; 
}

.payment_history {
    
/*    background-color: #dedede;*/
    color: #333333;
    height: auto;
/*    border-radius: 4px;*/
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 10px solid #ffffff;
}

.payment_history:last-child {
    border-bottom: 0px;
    
}


.payment_history .payment_history_date {
    
/*    background-color: #f8f8f8;*/
    margin: 0px 4px 0px 0px;
    padding: 10px 20px 0px 20px;
    border-radius: 4px 0px 0px 4px;
     height: auto;
}

.hd-text-date, .hd-text-amount {
    
        font-size: 14px;
    font-weight: 600;
          color: #333333;
    
}

.payment_history .payment_history_amount {
/*    background-color: #dedede;*/
      height: auto;    
/*    padding: 2px 4px 2px 4px;*/
        padding: 5px 20px 0px 20px;
     border-radius: 0px 4px 4px 0px;
        margin: 0px 0px 0px 0px;
}

.bd-text-date, .bd-text-amount {
           font-size: 14px;
    font-weight: 400; 
        padding: 8px 0px 0px 2px;
}

.payment_hr {
    
    background: linear-gradient(to left, #f8f8f8, #dedede);
        border:none;
    border-radius: 100px;
        height:1px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.payments_view {
    
      background: #f8f8f8;
/*    radial-gradient(#dedede,#f8f8f8);*/
    border-radius: 4px;
    margin: 0px 0px 0px 0px;
/*
    min-height: 1000px;
    height: inherit;
*/
/*    overflow: auto;*/
    
/*    height: auto;*/
}


/*--- Repair page ---*/

.bd-text .btn_repair_approve {
    color: #f8f8f8;
    background-color: #5AD663;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    width: 75%;
    margin: 85px 0px 10px 15px;
    border: 2px solid transparent;
        -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    
}
.bd-text .btn_repair_deny {
    
    background-color: #FA4B3E;
    color: #f8f8f8;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
     width: 75%;
    margin: 0px 0px 0px 15px;
     border: 2px solid transparent;
        -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}


.bd-text .btn_repair_approve:hover{
    border: 2px solid #5AD663;
    background-color: transparent;
    color:  #5AD663;
}

.bd-text .btn_repair_deny:hover {
       background-color: transparent;
    border: 2px solid #FA4B3E;
    color: #FA4B3E;
}

.repair_view {
    color: #333333;
    margin: 0px 0px 10px 0px;
}

.repair_view_head {
    height: auto;
    background-color: #dedede;
     
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    border-radius: 4px 4px 0px 0px;
    border: 0px;
      border-bottom: 2px solid #5AD663;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 5px;
    

}

.ss {
      margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px; 
    
}

.repair_img_view {
      padding: 8px 0px 5px 0px;
    text-align: center;
     height: auto;
    
/*    background: red;*/
}

.repair_img_view img {
/*        margin: 0 auto;*/
    cursor: zoom-in;
/*background-color: aqua;*/
    padding: 0px 0px 0px 0px;
    margin: 7px 0px 0px 20px;
    border-radius: 4px;
    height: 110px;
}

.no_repair_img_view {
      padding: 8px 0px 5px 0px;
        margin: 7px 0px 0px 20px;
        text-align: center;
    background-color: #dedede;
    height: 110px;
    width: 165px;
      border-radius: 4px;
}

.no_repair_img_view p {
  color: #ffffff;
    margin-top: 36px;
    padding: 0px;
    
       -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.display_enlarged_repair_imgs {
        border-radius: 4px;
    background-color: #f8f8f8;
    padding: 5px;
}

.display_enlarged_repair_imgs img {
    
    border-radius: 4px;

}

.s_lvl_low {
    text-align: center;
    width: 60px;
    height: auto;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    color: #333333;
    padding: 4px;
    background-color: #5AD663;
}

.s_lvl_med {
    text-align: center;
    width: 80px;
    height: auto;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    color: #333333;
    padding: 4px;
    background-color: #FFF440;
}


.s_lvl_hi {
    text-align: center;
    width: 60px;
    height: auto;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    color: #333333;
    padding: 4px;
    background-color: #FA4B3E;
}



.repair_view_head .hd .hd-text {


    padding: 9px 0px 7px 0px;
/*       background-color: #333333;*/
 

}

.repair_view_body .hd .hd-text {
     height: auto;
      color: #333333;
/*    background: green;*/
/*    width: 300px;*/
/*    height: auto;*/
/*   text-decoration: underline;*/
    padding: 10px 0px 5px 20px;
/*       background-color: #333333;*/
    margin: 0px 2px 0px 0px;  

}

.repair_view_body .hd:last-child .hd-text {
    margin-right: 0px; 
    font-weight: 400;
    font-size: 12px;
    
/*    background: red;*/
/*    color: #dedede;*/
    padding: 20px 0px 0px 15px;
}


.repair_view_body .hd:last-child .bd-text {
    margin-right: 0px;  
}

.repair_view_body .hd {
           height: auto;
/*        position:absolute; */
}

.repair_view_body .hd .bd-text {


/*    background: blue;*/
/*    width: 300px;*/
    font-size: 14px;
       height: auto;
    font-weight: 400;

   text-decoration: none;
    padding: 5px 0px 0px 22px;
/*       background-color: #333333;*/
    margin-right: 2px;

}



.repair_view_body .hd .hd-text-description, .repair_view_body .hd .hd-text-status {
     height: auto;
      color: #333333;
/*    background: green;*/
/*    border-bottom: 1px solid #333333;*/
/*    width: 300px;*/
/*    height: auto;*/
/*   text-decoration: underline;*/
    padding: 12px 0px 5px 20px;
/*       background-color: #333333;*/
    margin: 0px 2px 0px 0px;  
    
}

.repair_view_body .hd .hd-text-severity {
      height: auto;
        color: #333333;
/*    background: green;*/
/*    border-bottom: 1px solid #333333;*/
/*    width: 300px;*/
/*    height: auto;*/
/*   text-decoration: underline;*/
    padding: 12px 0px 5px 0px;
/*       background-color: #333333;*/
    margin: 0px 2px 0px 0px;     
    
}


.repair_hr {
    
    background: linear-gradient(to left, #f8f8f8, #dedede);
        border:none;
    border-radius: 100px;
        height:1px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.repair_view_body .hd .bd-text-description {
     height: auto;
/*    background: red;*/

/*    width: 100%;*/
/*    height: auto;*/
      font-weight: 400;
word-wrap: break-word;
    padding: 0px 0px 0px 22px;
/*       background-color: #333333;*/
    margin: 0px 2px 0px 0px;   
    
    
}

.repair_view_body .hd .bd-text-status {
      height: auto;
/*    background: red;*/
/*    width: 100%;*/
/*    height: auto;*/
      font-weight: 400;
word-wrap: break-word;
    padding: 4px 0px 10px 22px;
/*       background-color: #333333;*/
    margin: 0px 2px 0px 0px;   
       
    
} 

.repair_view_body .hd .bd-text-severity {
       height: auto;
/*    background: blue;*/
/*    width: 100%;*/
/*    height: auto;*/
      font-weight: 400;
word-wrap: break-word;
    padding: 5px 0px 59px 2px;
/*       background-color: #333333;*/
     margin: 0px 2px 0px 0px;   
    
}

.repair_view_body {
background-color: #f8f8f8;
/*    background-color: red;*/
    color: #333333;
    
    height: auto;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    border-radius: 0px 0px 4px 4px;
    border: 0px;
    margin: 3px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    
}

.btn-comment-inpt {
    background-color: #ffffff;   
    padding: 4px 6px 4px 6px;
overflow-y: scroll;
        height: 50px;
/*    height: auto;*/
    max-height: 95px;
    margin: 0px;
    border-radius: 4px;
    width: 100%;
   resize: none;


   outline:0px !important;
   -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color:  #dedede;

}

.btn-comment-inpt:hover {
    border: 1px solid #5AD663;
}

.btn-comment-inpt:focus {
    border: 1px solid #5AD663;
}

/*
.btn-comment-inpt::-webkit-input-placeholder {
    
    color: #dedede;
}
*/


/*--- Footer ALL screen ---*/
#ui_footer p {
    font-size: 10px;
    height: 23px;
    font-weight: 100;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #333333;
/*    background-color: #333333;*/
    padding: 3px 0px 0px 15px;
}

#ui_footer p .diff-color {
    color: #5AD663;
}

#ui_footer p .diff-font {
    font-family: "Diavlo Light"; 
}

.pdf::-webkit-scrollbar {
    display: none;
}

.display_pdf{
    float:left;
    width:150px;
    height:auto;
    /*border:1px solid red;*/
    text-wrap: normal;
    padding: 15px;

}

.display_pdf a{text-decoration: none;}

#pagecontentstart > div:nth-child(4) > div{padding-bottom: 50px}

canvas{    min-height: 169px; max-width: 150px;}
